@font-face {
    font-family: Designer;
    src: url(./font/Designer.otf);
}

body{
    background-color: white;
    margin:0;
    padding:0;
}
.container{    
    font-family:Designer;
    font-size:36px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:20px;
    gap:40px;
}

.game_columns{
    height:720px;
    display:flex;
    flex-direction: row;
    justify-content:center;
}

.player_column, .computer_column{
    min-width:240px;
    max-width:240px;
    margin:12px;
    border-style:solid;
    border-color:black;
    border-radius:8px;
    padding:6px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align:center;
}

.vs_div{
    justify-content: center;
    font-size:40px;
    padding:8px;
    min-width:240px;
    max-width:240px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align:center;
}

.player_buttons_container{
    display:flex;
    flex-direction: column;
    gap:6px;
}
.player_button{
    width:180px;
    height:180px;
    border-radius:8px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex:1 1 auto;
}

.icon{
    width:140px;
    height:140px;
}

#fight_result{
    font-size:18px;
    display:flex;
    justify-content: center;
    align-items:center;
}

#reset_button{
    font-family:Designer;
    font-size:18px;
    padding:10px;
    border-radius:8px;
}

